<h2>Current role: {{this.userService.getRole()}}</h2>
<div>
    <select name="role" (change)="changeRole(selectedRole.value)" #selectedRole>
        <option value="{{roleName.ANONYMOUS}}">{{roleName.ANONYMOUS}}</option>
        <option value="{{roleName.USER}}">{{roleName.USER}}</option>
        <option value="{{roleName.ADMIN}}">{{roleName.ADMIN}}</option>
    </select>
</div>
<hr>
<nav>
    <li>
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    </li>
    <li>
        <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a>
    </li>
    <li>
        <a [routerLink]="['admin']" routerLinkActive="active" ariaCurrentWhenActive="page">Administration</a>
    </li>
</nav>
<hr>
<router-outlet></router-outlet>